.row {
    font-family: Arial, Helvetica, sans-serif;
    color: #5e6161;
    
    .header {
        margin-top: 100px;

        .title {
            display: inline-block;
            text-align: left;
            padding-bottom: 20px;
            border-bottom: 2px solid #2bb54b;
        }

        .subtitle {
            width: 35%;
            font-size: 15px;
            float: right;
        }
    }

    .list-product {
        margin-top: 50px;
        background-color: #f8f8f8;
        .slick-arrow {
            &:before{
                color: #5e6161;
                font-size: 25px;
            }

            &:hover{
                &::before{
                    color: #383838;
                }
            }
        }
        
        .list-content {
            padding-left: 20px;
            .card-product-container {
                width: 250px !important;
                height: 400px;
                margin: 10px !important;
                border-radius: 10px;
                background-color: white;
                &:hover {
                    box-shadow: 2px 3px 25px 0 rgba(0, 0, 0, 0.4);
                    cursor: pointer;

                    .product-image {
                        .btn-box {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                .product-image {
                    height: 75%;
                    // background-image: url(../../../asset/5_a2c6bf24-4901-4a43-8eef-f5fe0ad5b8cc_270x350.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    display: flex;
                    align-items: flex-end;


                    .btn-box {
                        width: 200px;
                        height: 47px;
                        visibility: hidden;
                        background-color: #2e2e3b;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        margin-left: 30px;
                        text-align: center;
                        transition: 1s ease-in-out;
                        opacity: 0;

                        .btn {
                            color: white;
                            padding: 10px 15px;

                            &:hover {
                                background-color: #2bb54b;
                            }
                        }
                    }
                }

                .product-description {
                    margin-left: 30px;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    font-size: 16px;

                    .name {
                        padding-bottom: 10px;

                        &:hover {
                            color: #2bb54b;
                            cursor: pointer;
                        }
                    }

                    .price {
                        color: #161515;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .view-all-collection{
        margin-top: 50px;
        width: 100%;
        text-align: center;
        background-color: #2e2e3b;
        line-height: 50px;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-weight: 600;
        &:hover{
            color: #2bb54b;
        }
        span{
            padding: 0 20px;
            cursor: pointer;
        }
    }
}