.title-header {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    background-color: #f8f8f8;
    text-align: left;

    margin-bottom: 20px;
}

.archive-products {
    height: 300px;
    display: flex;

    .left-content {
        height: 100%;
        width: 30%;
        border: 1px solid green;
    }

    .right-content {
        border: 1px solid yellow;
        height: 100%;
        width: 70%;
    }
}