.home-page {
    color: #555;

    .home-header {
        .top-bar {
            width: 100%;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;

            .left {
                .text {
                    padding: 0 10px;
                }
            }

            .right {
                .menu-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;

                    .wishlist-menu {
                        position: relative;
                        cursor: pointer;
                        padding: 0 10px;

                        &::after {
                            position: absolute;
                            content: '';
                            right: 0;
                            width: 1px;
                            height: 18px;
                            background: #e4e4e4;
                        }
                    }

                    .currency-menu {
                        position: relative;
                        cursor: pointer;
                        padding: 0 10px;

                        select {
                            border: none;
                            outline: none;

                            option {
                                text-align: center;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }

        .slide-banner {
            width: 100%;

            .slick-slider {
                position: relative;
                overflow: hidden;
                height: 500px;

                .slide {
                    position: relative;

                    .overlay {
                        height: 100%;
                        width: 100%;
                        z-index: 100;
                        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
                        position: absolute;
                        top: 0;

                        .rs-mask-wrap {
                            color: white;
                        }
                    }

                    img {
                        width: 100%;
                    }
                }

                &:hover {
                    .slick-arrow {
                        opacity: 1;
                    }

                    .slick-next {
                        right: 100px;
                    }

                    .slick-prev {
                        left: 100px;
                    }
                }

                .slick-arrow {
                    position: absolute;
                    z-index: 1;
                    opacity: 0;
                    transition: 1s all ease;

                    &:hover {
                        &::before {
                            color: rebeccapurple;
                        }
                    }

                    &::before {
                        font-size: 40px;
                    }
                }

                .slick-next {
                    right: 0;
                }

                .slick-prev {
                    left: 0;
                }
            }
        }
    }

    .home-body {
        .row-fluid {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 30px;
            flex-wrap: wrap;

            .wrap-fluid {
                height: 120px;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 30px;
                    padding: 10px 20px;
                    color: rgb(73, 73, 77);
                }

                .title {
                    .top-title {
                        font-weight: 700;
                        font-size: 16px;
                    }

                    .bot-title {
                        color: rgb(89, 90, 90);
                        font-size: 12px;
                    }
                }
            }
        }

        .tab-product {
            margin-bottom: 40px;
        }

        .sale-banner {
            margin-bottom: 40px;

            .content {
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .content-banner {
                    height: 100%;
                    // width: 50%;

                    .image {
                        height: 100%;
                        background-image: url(../../asset//traveler-man-waits-train-railway-platform.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    .home-page {
        .home-header {
            .top-bar {
                width: 100%;
                display: none;
            }
        }
    }
}

@media screen and (max-width: 450px) {}

@media screen and (max-width: 325px) {}