.home-nav {
    height: 85px;
    width: 100%;
    box-shadow: 2px 4px 10px 0px rgba(201, 201, 201, 0.47);
    color: #555;
    position: sticky;

    .nav-pc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .header-left {
            height: 100%;
            text-align: center;
            justify-content: flex-start;
            cursor: pointer;
            flex: 1;
            margin-top: 20px;
            font-size: 30px;
            font-weight: 700;
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 1;
            height: 100%;

            .header {
                padding: 15px;
                cursor: pointer;

                &:hover {
                    .icon {
                        color: #35bdaf;
                    }
                }
            }

            .account-cart {
                display: flex;
                align-items: center;
                justify-content: center;

                .account {
                    position: relative;

                    &:hover {
                        .menu-link {
                            opacity: 1;
                            top: 60px;
                        }
                    }

                    .menu-link {
                        position: absolute;
                        z-index: 100;
                        background-color: #fff;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        right: 0;
                        padding: 5px 10px;
                        width: 160px;
                        border-radius: 5px;
                        overflow: hidden;
                        transition: all 0.5s ease;
                        opacity: 0;
                        top: 200px;

                        .wrapper {
                            right: 0;

                            .item {
                                padding: 10px;
                                position: relative;

                                &:hover {
                                    color: #35bdaf;
                                }
                            }

                            .item:first-child {
                                &:before {
                                    content: '';
                                    height: 1px;
                                    width: 120px;
                                    position: absolute;
                                    // top: 50px;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: 0 auto;
                                    background-color: #999;
                                }
                            }

                            .item:nth-child(2) {
                                &:before {
                                    content: '';
                                    height: 1px;
                                    width: 120px;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: 0 auto;
                                    background-color: #999;
                                }
                            }
                        }
                    }
                }

            }

        }

        .site-nav {
            flex: 4;
            margin-top: 20px;
        }
    }

    .nav-tablet {
        display: none;
    }

    .nav-mobie {
        display: none;
    }
}

@media screen and (max-width: 810px) {
    .nav-pc {
        display: none;
    }

    .nav-tablet {
        display: flex !important;
        color: red;
    }
}

@media screen and (max-width: 450px) {}

@media screen and (max-width: 325px) {
    .nav-mobie {
        display: flex !important;
    }

    .nav-tablet {
        display: none !important;
    }
}