.datatable {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    background-color: #fff;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px dashed #eee;
        padding: 20px;

        .title {
            font-size: 25px;
            color: #999;
            font-weight: 700;
        }

        .action-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 12px;

            .icon {
                font-size: 20px;
            }

            .delete-selected {
                background-color: rgba(199, 71, 46, 0.295);
                color: #f06548;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                    background-color: #f06548;
                }
            }

            .add-new-btn {
                background-color: #0ab39c;
                color: #fff;
                padding: 10px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-weight: 700;

                &:hover {
                    color: #fff;
                    background-color: #099885;
                }
            }
        }
    }

    .list {
        padding: 10px;

        .header-list-container {
            display: flex;
            align-items: center;
            height: 40px;
            font-size: 14px;
            margin: 20px 0;
            gap: 20px;

            .item {
                border: 1px solid rgb(197, 194, 194);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
            }

            .search-box {
                padding: 5px;
                width: 50%;
                flex: 5;
                justify-content: space-between !important;

                input {
                    border: none;
                    outline: transparent;
                }

                .icon {
                    color: #999;
                }

                .search {
                    width: 100%;
                    padding: 0 10px;
                    height: 100%;
                }
            }

            .date-picker {
                flex: 2;

                input {
                    border: none;
                    outline: transparent;
                }

                .react-datepicker__input-container {
                    input {
                        text-align: center;
                        color: #333;
                    }
                }
            }

            .select-user-type {
                flex: 2;

                .css-b62m3t-container {
                    width: 100%;
                    text-align: center;

                    .css-1s2u09g-control {
                        border: none;
                        cursor: pointer;
                    }

                    .css-1pahdxg-control {
                        border: none;
                    }
                }
            }

            .btn-filter {
                flex: 1;
                height: 100%;
                color: #fff;
                background-color: #405189;
                border-color: #405189;
                gap: 5px;
                font-weight: 700;
                cursor: pointer;

                .icon {
                    font-size: medium;
                }
            }
        }

        .table-card {
            .table {
                vertical-align: middle;
                font-size: 12px;

                .form-check-input {
                    width: 1.5em;
                    height: 1.5em;
                }

                .text-muted {
                    background-color: #f3f6f9;
                }

                .list {
                    border-top: none;
                    font-size: 12px;
                    color: #444;
                    font-weight: normal;
                }
            }

            .pagination-btn {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 10px;

                .pagination-wrap {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 12px;

                    .pagination-next,
                    .pagination-prev {
                        padding: 6px 10px;
                        border-radius: 5px;
                        border: 1px solid #eee;
                        color: #999;
                    }

                    .page-item {
                        cursor: pointer;
                    }

                    .list-page {
                        display: flex;
                        align-items: center;
                        align-self: center;
                        gap: 10px;

                        .page {
                            padding: 5px 12px;
                            border: 1px solid #eee;
                            border-radius: 5px;

                            .active {
                                background-color: #099885;
                            }
                        }
                    }
                }
            }
        }

    }
}