.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    height: 120px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: #999;
        }

        .counter {
            font-size: 25px;
            font-weight: 300;
            color: #555;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
            color: #999;
            cursor: pointer;
        }

        .percentage {
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 700;

            i {
                padding: 0 10px;
            }

            &.positive {
                color: green;
            }

            &.negative {
                color: red;
            }

        }

        .icon {
            padding: 5px 6px;
            font-size: 16px;
            align-self: flex-end;
            border-radius: 5px;
        }
    }
}