.trending-categoy-list {
    width: 100%;
    margin-bottom: 50px;

    .top-content-des {
        margin: 30px 0;

        .item {
            display: flex;
            align-items: center;
            height: 100px;
            padding-left: 20px;

            .icon {
                color: #58647d;
                font-size: 30px;
                margin-right: 20px;
            }

            .wrb {
                width: 100%;
                border-right: 1px solid #58647d;
                padding: 5px 0;

                .title {
                    font-size: 17px;
                    font-weight: 700;
                    color: #58647d;
                }

                .description {
                    font-size: 14px;
                    color: #58647d;
                }
            }
        }
    }

    .container {
        .row {
            justify-content: center;
            margin-bottom: 30px;

            .title {
                text-align: center;

                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                }

                p {
                    color: #58647d;
                }
            }
        }


        .top-content,
        .bot-content {
            display: flex;
            height: 300px;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;

            .item {
                height: 100%;
                width: 100%;
                cursor: pointer;

                &:hover {
                    .img {
                        transform: scale(1.2);
                    }
                }

                .content {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                    position: relative;

                    .img {
                        height: 100%;
                        width: 100%;
                        transition: all ease .5s;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    .overlay {
                        position: absolute;
                        text-align: center;
                        top: 75%;
                        left: 8%;
                        background-color: #6b8e3c;
                        padding: 5px 20px;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .larg-content {
                width: 50%;
                height: 100%;
            }

            .small-content {
                width: 50%;
                height: 100%;
                display: flex;

                .left {
                    width: 50%;
                    padding-right: 15px;
                    height: 100%;
                }

                .right {
                    width: 50%;
                    padding-left: 15px;
                    height: 100%;
                }
            }
        }

        .top-content {
            .larg-content {
                padding-right: 15px;
            }

            .small-content {
                padding-left: 15px;
            }
        }

        .bot-content {
            .larg-content {
                padding-left: 15px;
            }

            .small-content {
                padding-right: 15px;
            }
        }
    }
}