.nav-header{
    width: 100%;
    height: 80px;
    background-color: #6b8e3c;
    color: white;
    font-weight: 700;
    align-items: center;
    display: flex;
    font-size: 16px;
    .container{
        display: flex;
        justify-content: center;
        .main-menu{
            width: 70%;
            height: 60px;
            align-content: center;
            .dropdown{
                height: 100%;
                align-items: center;
                display: flex;
                list-style: none;
                justify-content: space-between;
                .category{
                    border-radius: 20px;
                    padding: 10px 15px;
                    cursor: pointer;
                    transition: all ease-out 0.5s;
                    .title{
                        padding-right: 5px;
                    }
                    &:hover{
                        background-color: #ffc001;
                        color: #333;
                    }
                }
            }
        }
        .search-box{
            font-weight: 800;
            font-size: 18px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            cursor: pointer;
            flex-direction: column;
            .input-group{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }
    }
}